@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TBC Contractica CAPS Bold";
  src: url("../fonts/TBCContracticaCAPS-Bold.ttf");
}

@font-face {
  font-family: "Anonymous Pro Bold";
  src: url("../fonts/AnonymousPro-Bold.ttf");
}

@font-face {
  font-family: "BPG Nino Mtavruli Normal";
  src: url("../fonts/bpg_nino_medium.otf");
}

@font-face {
  font-family: "BPG Nino Mtavruli Bold";
  src: url("../fonts/bpg_nino_mkhedruli_bold.ttf");
}
